html {
    position: relative;
}


body {
    margin-bottom: 80px;
    background-color: #F0ECE5;
    margin-top: 50px;
    overflow-x: hidden;
}

.navbar {
    background-color: #161A30;
}

.nav-link:hover {
    color: purple !important;
}

.navbar-toggler-icon {
    filter: invert(1);
}

.jumbotron {
    width: 100vw;
    background-color: #B6BBC4;
    background-image: url(../img/header-bg2.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: #eaeaea;
    overflow: hidden;
}

.jumbotron .profile {
    border-radius: 50%;
    width: 200px;
    border: 5px solid #eaeaea;
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.5);
}

.jumbotron h1,
.jumbotron p {
    text-shadow: 1px 5px 5px rgba(0, 0, 0, 0.5);
}

hr {
    width: 250px;
    border-top: 4px solid #161A30;
}

.port {
    border-top: 4px solid white;
}

section {
    min-height: 600px;
}

.pKiri,
.pKanan {
    opacity: 0;
    transform: translate(-50px, 0) rotate(15deg);
    transition: 1s;
}

.pKanan {
    transform: translate(50px, 0) rotate(-15deg);
}

.pKiri.pMuncul,
.pKanan.pMuncul {
    opacity: 1;
    transform: translate(0, 0);
}

.portfolio {
    background-color: #B6BBC4;
}

.portfolio .img-thumbnail {
    opacity: 0;
    transform: translate(0, -40px);
    transition: 0.5s;
}

.portfolio .img-thumbnail.muncul {
    opacity: 1;
    transform: translate(0, 0);
}

.contact {
    min-height: 800px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: #161A30;
    padding-top: 30px;
}

footer p {
    font-size: 0.9em;
}

footer p a {
    text-decoration: none;
}